*{
    margin: 0;
    box-sizing: border-box;
}
.about-us-text {
    display: flex;
    padding: 20px; 
    flex: 1;
    font-size: 32px;
    margin-top: 25px;
    padding: 15px;
    margin-left: 12px;
    gap: 30px;
    flex-direction: column;
    /* border: 1px solid red; */
    max-width: 900px;
    margin: auto;
    margin-top: 32px;
    align-items: center;
    >  h1{
        margin-bottom: 30px;
    }
}   

body{
    display: flex;
    flex-direction: column;
    /* min-width: 100vh; */
}

.dog-image1  , .dog-image2{
   display: flex;
   max-width: 200px;

}

.team {
    padding: 15px;
    margin-left: 32px;
}

.team-section{
    display: flex;
    gap: 20px;
    padding: 30px
}

.entire-team {
 margin-bottom: 32px;
 font-size: 16px;
}
