.goal-text {
    padding: 20px; 
    flex: 1;
    font-size: 25px;
    > ul li{
        margin-top: 25px;
        padding: 15px;
    }
}

body{
    display: flex;
    flex-direction: column;

    min-width: 100vh;
}

.info-home{
    padding: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    flex: 1;

}

@media screen  and (max-width: 100px) {

}